.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#drum-machine {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
}

#display {
    border-style: solid;
    height: 100px;
}

.drum-pads {
    display: grid;
    grid-template-columns: auto auto auto;
}

.drum-pad {
    border-style: solid;
    text-align: center;
    padding: 20px;
}

#metronomeCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}