.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#display {
    border-style: solid;
    height: 100px;
}

.drum-pads {
    display: grid;
    grid-template-columns: auto auto auto;
}

.drum-pad {
    border-style: solid;
    text-align: center;
    padding: 20px;
}
